/* Add CSS Styling */
.oddnumbers{
    background-color: lightpink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#number-two{
    color: blue;
    font-size: 36px;
}
.diff-font{
    font-size: 24px;
}
.number-four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}