.button-one,
.button-two{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.button-one{
    background-color: black;
    color: white;
}
.button-two{
    background-color: yellow;
}